<html lang="en">
    <title><%= title %></title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href="../css/bootstrap.css" rel="stylesheet">
   <body>
     <head>
     <script src='../js/jquery-3.4.1.min.js'></script>
   <div class="jumbotron text-center" style="margin-bottom:30px">
     <h1>Biscuits Industrial</h1> <h3> Eve Online, Spreadsheets in space </h3>
   </div>
   </head>
<!-- script goes here from mike-->
<%- include ('include/shipsnavbar.ejs') %>
<%- include ('content/announcements.ejs') %>
<section class="container-fluid" >
    <div class="row">
        <div class="col-md-3 leftNav">
          <div class="media">
            <div class="media-left">
              <a href="https://wiki.eveuniversity.org/" target="__blank">
                <img class="media-object" target="__blank" src='https://images.evetech.net/types/<%= typeid %>/render' style="max-width: 100%; max-height: 100%;" alt='Ship Image goes Here, Mail SkippTekk or tweet @XGKIPPY for a fix'>
              </a>
              <h4 class="media-heading">Default values of the ship.</h4>
              <p>Ship Capacity: <%= Intl.NumberFormat().format(capacity) %>
              <p>Ship Mass: <%- Intl.NumberFormat().format(mass) %>
              <p>Ship Volume: <%- Intl.NumberFormat().format(volume) %>
              <p> Group ID: <%- Intl.NumberFormat().format(groupid) %>
              <p>Race BROKEN on faction: 
                <% if (raceID === 1) {%>
                  Caldari State
                <%} else if (raceID === 2) {%>
                  Minmatar Republic
                <%} else if (raceID === 4) {%>
                  Amarr Empire
                <%} else if (raceID === 8) {%>
                  Gallante Federation
                <%} else if (raceID === 16) {%>
                  Jove
                <%} else if (raceID === 128) {%>
                  Ore
                <% } %>
            </div>
          </div>
        </div>
        <div class="col-md-6 content">
          <h1><%= typename %> ID: <%- typeid %></h1>
          Ship Tree Location:<p>" . $fields['__m1'] . "->" . $fields['__m2'] . " -> ".$fields['__m3']."

          <div class="Rigs" style="text-align:center;">
          <div class="SliderUi" >
          <label for="minval">Blueprint Material Efficiency Level(0-10): <input class="BPODrop" type='number' min='0' max='10'></label>
          <label for="minval">How many ships are being built: <select name='ShipDrop' class="ShipDrop"></select></label>
          </div><br>
          <fieldset>
          <legend>Select your Rig (not working)</legend>
          <select>
          <option value="noRig">No Rig</option>
          <option value="Tech1">Tech 1</option>
          <option value="Tech2">Tech 2</option>
          </select>
          </fieldset>
          <fieldset>
          <legend>Select your Location </legend>
          <select id="selectMe">
            <option value="high">Highsec</option>
            <option value="low">Lowsec</option>
            <option value="nullwh">NullSec/WH</option>
          </select>
          </fieldset>
          </div>
          <div class="Rigs" style="text-align:center;">
          <fieldset>
          <h1><legend>Ore Bonus Varient (not working)</legend></h1>
          <select name="Variend" id="Varient">
          <option value="0">0%</option>
          <option value="1">5%</option>
          <option value="2">10%</option>
          <option value="3">15%</option>
          </select>
          </fieldset>
          </div>
          <p></p>

          <table class="table">
            <th>Minerals</th>
            <th>Citadel</th>
            <th>Engineering</th>
            <th>Refining</th>
            </tr>
          </thead>
            <% for(var i = 0; i < MINERALS.length; i++) { %>
          <tbody>
          <tr>
          <td><img src='https://images.evetech.net/types/<%= MINERALS[i].materialTypeID  %>/icon'><a href="http://eve.wikia.com/wiki/<%= MINERALS[i].typeName %>" target="_blank"><%= MINERALS[i].typeName %></a></td>
          <!-- Intl.NumberFormat().format((Math.max(1, Math.ceil( MINERALS[i].quantity *(1-$ME*0.01)*$structureEngineering*(1-$rigBonus))))*$Build) -->
          <td><%- Intl.NumberFormat().format((Math.max(1, Math.ceil( MINERALS[i].quantity *(1-1*0.01)*1*(1-0))))*1) %></td>
          <td><%- Intl.NumberFormat().format((Math.max(1, Math.ceil( MINERALS[i].quantity *(1-1*0.01)*.99*(1-0))))*1)%></td>
          <td><%- Intl.NumberFormat().format((Math.max(1, Math.ceil( MINERALS[i].quantity *(1-1*0.01)*.98*(1-0))))*1)%></td>
          </tr>
          <% } %>
          </tbody>
            <table class="table">
          <th>Compressed Ore</th>
          <th>Ore Count</th>
          <tr>
          <td><img src='https://images.evetech.net/types/28367/icon'><a href="http://eve.wikia.com/wiki/Arkonor" target="_blank">Compressed Arkonor</a></td>
          <td>Math goes here</td>
          </tr>
          <tr>
          <td><img src='https://images.evetech.net/types/28388/icon'><a href="http://eve.wikia.com/wiki/Bistot" target="_blank">Compressed Bistot</a></td>
          <td>Moon shit here</td>

          </tr>
          <tr>
          <td><img src='https://images.evetech.net/types/28391/icon'><a href="http://eve.wikia.com/wiki/Crokite" target="_blank">Compressed Crokite</a></td>
          <td>Moon shit here</td>

          </tr>
          <tr>
          <td><img src='https://images.evetech.net/types/28397/icon'><a href="http://eve.wikia.com/wiki/Gneiss" target="_blank">Compressed Gneiss</a></td>
          <td>Moon shit here</td>

          </tr>
          <tr>
          <td><img src='https://images.evetech.net/types/28420/icon'><a href="http://eve.wikia.com/wiki/Spodumain" target="_blank">Spodumain</a></td>
          <td>Moon shit here</td>

          </tr>
          <tr>
          <td><img src='https://images.evetech.net/types/28394/icon'><a href="http://eve.wikia.com/wiki/Dark Ochre" target="_blank">Compressed Dark Ochre</a></td>
          <td>Moon shit here</td>

          </tr>
          </table>
        </div>
        <div class="col-md-3 reletedContent">
        </a>
        <b>Ship Description and Data</b>:<p>
        <%- description %>
        </div>
    </div>
</section>

<!-- Footsie for the footer-->
<%- include ('include/footer.ejs') %>
<%- include ('include/scripts.ejs') %>
 </body>
     </html>
>